@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #171a1f;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: .3s;
}

.navbar a:hover::before {
 width: 100%;
}

.dashboard--wrapper {
  position: relative;
  top: 20vh;
  left: 25vw;
}

.card--wrapper h1, h2, h3, h4 {
  color: white;
}

.card--container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items: flex-start;
  gap: .5rem;
  width: 50vw;
}

.dashboard-card {
  background-color: #007F4F;
  border-radius: 10px;
  padding: 1.2rem;
  width: 335px;
  height: fit-content;
  min-width: 300px;
  transition: all .3s ease-in-out;
}

.dashboard--information--area {
  display: flex;
  flex-direction: column;
  flex: 0 1 49%;
  flex-basis: 32%;
  gap: 1rem;
  position: relative;
  flex-wrap: wrap;
  width:18vw;
  height: fit-content;
  cursor: default;
}

.dashboard--statistics--area {
  display: flex;
  flex-direction: column;
  flex: 0 1 49%;
  flex-basis: 0%;
  gap: 1rem;
  position: relative;
  flex-wrap: wrap;
  width:18vw;
  height: fit-content;
  cursor: default;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}

.dashboard-card:has(> .lowstock-card) {
  background-color: #F5503B;
}

.card-title {
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 14px;
}

.dashboard-title {
  font-size: 32px;
  padding-bottom: 5px;
}

@media screen and (max-width: 1200px) {
  .dashboard--information--area, .dashboard--statistics--area { flex-basis: 100%; }
}