@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #171a1f;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: .3s;
}

.navbar a:hover::before {
 width: 100%;
}

.card--container {
  position: relative;
  top: 20vh;
  left: 25vw;
}

.card--wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: relative;
  flex-wrap: wrap;
  width:50vw;
  cursor: default;
}

.card--wrapper h1, h2, h3, h4 {
  color: white;
}

.card--wrapper h3 {
  font-size: 20px;
}

.card--wrapper h4 {
  font-size: 18px;
}

.dashboard-card {
  background-color: #007F4F;
  border-radius: 10px;
  padding: 1.2rem;
  width: fit-content;
  min-width: 300px;
  height: fit-content;
  transition: all .3s ease-in-out;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}

.dashboard-card:has(> .lowstock-card) {
  background-color: #F5503B;
}

.card-title {
  font-size: 15px;
  font-weight: 600;
  position:relative;
  padding-bottom: 14px;
}

.dashboard-title {
  font-size: 32px;
  padding-bottom: 5px;
}