{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'restaurant/styles.css' %}">
{% block head %}
{% endblock %}
</head>

<body>
    <header class="header">
        <a href="{% url 'dashboard' %}" class="logo">Logo</a>

        <nav class="navbar">
            <a href="{% url 'menu_items' %}">Menu Items</a>
            <a href="{% url 'inventory' %}">Inventory</a>
            <a href="{% url 'purchases' %}">Purchases</a>
        </nav>

    </header>
{% block content %}
{% endblock %}
</body>


