{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block content %}

<div class="dashboard--wrapper">
    <h3 class="dashboard-title">Dashboard</h3>
    <div class="card--container">
        
        <div class="dashboard--information--area">

            <div class="dashboard-card">
                <div class="top-three-card">
                    <div class="card--header">
                        <h5 class="card-title">Top three selling items</h5>
                    </div>
                    <div class="card--content">
                        {% if top_three_sales|length == 3 %}
                        <h2>1. {{top_three_sales.0.0}}</h2>
                        <h3>2. {{top_three_sales.1.0}}</h3>
                        <h4>3. {{top_three_sales.2.0}}</h4>
                        {% elif top_three_sales|length == 2 %}
                        <h2>1. {{top_three_sales.0.0}}</h2>
                        <h3>2. {{top_three_sales.1.0}}</h3>
                        {% elif top_three_sales|length == 1 %}
                        <h2>1. {{top_three_sales.0.0}}</h2>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="dashboard-card">
                <div class="lowstock-card">
                    <div class="card--header">
                        <h5 class="card-title">Low Stock Items</h5>
                    </div>
                    <div class="card--content">
                        {% if low_stock_items|length > 0 %}
                        {% for key, value in low_stock_items.items %}
                        <h2>{{key}}: {{value}}g</h2>
                        {% endfor %}
                        {% else %}
                        <h2 id="no-low-stock-warning">-</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard--statistics--area">

            <div class="dashboard-card">
                <div class="revenue-card">
                    <div class="card--header">
                        <h5 class="card-title">Revenue</h5>
                    </div>
                    <div class="card--content">
                        <h2>{{revenue}} €</h2>
                    </div>
                </div>
            </div>

            <div class="dashboard-card">
                <div class="sales-card">
                    <div class="card--header">
                        <h5 class="card-title">Sales</h5>
                    </div>
                    <div class="card--content">
                        <h2>{{sales_count}}</h2>
                    </div>
                </div>
            </div>

            <div class="dashboard-card">
                <div class="inventory-value-card">
                    <div class="card--header">
                        <h5 class="card-title">Current Inventory Value</h5>
                    </div>
                    <div class="card--content">
                        <h2>{{inventory_value}} €</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard--charts--area">

            <div class="dashboard-card">
                <div class="sales--chart--card">
                    <div class="card--header">
                        <h5 class="card-title">Sales</h5>
                    </div>
                    <div class="card--content">

                        <canvas id="salesPerDayChart"></canvas>

                        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>

                        <script>

                        let noLowStockIndicator = document.getElementById("no-low-stock-warning");

                        if(noLowStockIndicator) {
                            let lowStockCard = document.querySelector('.dashboard-card:has(> .lowstock-card)');
                            lowStockCard.style.backgroundColor = "#007F4F";
                        }

                        const ctx = document.getElementById('salesPerDayChart');
                        new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: {{ sales_per_day.0 | safe }},
                                    datasets: [{
                                        label: '  ',
                                        data: {{ sales_per_day.1 | safe }},
                                        borderWidth: 1,
                                        fill: false,
                                        borderWidth:7,
                                        borderColor: 'white', // Linienfarbe auf weiß setzen
                                        pointBackgroundColor: 'white', // Punktfarbe auf weiß setzen
                                        pointBorderColor: 'white', // Randfarbe der Punkte auf weiß setzen
                                        pointHoverBackgroundColor: 'white', // Hintergrundfarbe der Punkte bei Hover auf weiß setzen
                                        pointHoverBorderColor: 'white' // Randfarbe der Punkte bei Hover auf weiß setzen
                                    }]
                                },
                                options: {
                                    elements: {
                                        point: {
                                            radius: 3
                                        }
                                    },
                                    scales: {
                                        y: {
                                            beginAtZero: true,
                                            gridLines: {
                                                display: false
                                            },
                                            ticks: {
                                                color: 'white'
                                            }
                                        },
                                        x: {
                                            gridLines: {
                                                color: "#FFFFFF"
                                            },
                                            ticks: {
                                                color: 'white',
                                            }
                                        }
                                    },
                                    tooltips: {
                                        callbacks: {
                                            label: function(tooltipItem) {
                                                    return tooltipItem.yLabel;
                                                            }
                                                    }
                                                },
                                    plugins: {
                                        legend: {
                                            display: false
                                        }
                                    }
                                }
                        });

                        </script>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}