{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Menu Items</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div class="table--container">
    <table class="content-table">
        <thead>
            <tr>
                {% for column_name in columns %}
                <th>{{ column_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for ingredient in data %}
            <tr class="clickable-row" data-href="{% url 'inventory' %}">
                <td>{{ ingredient.ingredient_name }}</td>
                <td>{{ ingredient.ingredient_amount }}</td>
                <td>{{ ingredient.ingredient_unit }}</td>
                <td>{{ ingredient.price_per_kilo }} €</td>
            </tr> 
            {% empty %}
            <h1>No Menu Items Yet</h1>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="{% static 'restaurant/table.js' %}" type="text/javascript"></script>

{% endblock %}
