{% extends 'base.html' %}

{% block head %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
  var form = document.getElementById('menu-item-form');
  var submitButton = document.getElementsByClassName('form--submitbutton')[0];

  // Überprüfe Änderungen im Formular
  form.addEventListener('change', function(event) {
    // Aktiviere den Button, wenn sich das Formular ändert
    submitButton.disabled = false;
    submitButton.style.backgroundColor = "#007F4F"
    submitButton.style.border = "2px solid #007F4F"
  });

  document.querySelector('.form--submitbutton').addEventListener('click', function() {
    document.getElementById('menu-item-form').submit();
  });
});
</script>
{% endblock %}

{% block content %}
<div class="menu-items-form-container">
  <div class="form--form--container">
    <form id="menu-item-form" action="" method="POST">
      {% csrf_token %}
      <p>
        <label class="form--heading" for="id_menu_name">Name</label>
        <input class="form--inputbox" type="text" name="menu_name" maxlength="100" required="" id="id_menu_name" value="">
      </p>

      <p>
        <label class="form--heading" for="id_menu_price">Price</label>
        <input class="form--inputbox" type="number" name="menu_price" step="any" required="" id="id_menu_price" value="">
      </p>

      <p>
        <label class="form--heading" for="id_menu_ingredients">Ingredients</label>
        <textarea class="form--inputbox" name="menu_ingredients" cols="40" rows="10" required="" id="id_menu_ingredients"></textarea>
      </p>  
    </form>
  </div>
  
  <div class="form--button--container">
    <input class="form--submitbutton" type="submit" value="Create Menu" disabled/>
    <a href="{% url 'menu_items' %}" class="entry--deletebutton">Cancel</a>
  </div>
</div>
{% endblock %}