{% extends 'base.html' %}

{% block head %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
  var form = document.getElementById('purchase-form');
  var submitButton = document.getElementsByClassName('form--submitbutton')[0];

  // Überprüfe Änderungen im Formular
  form.addEventListener('change', function(event) {
    // Aktiviere den Button, wenn sich das Formular ändert
    submitButton.disabled = false;
    submitButton.style.backgroundColor = "#007F4F"
    submitButton.style.border = "2px solid #007F4F"
  });

});
</script>
{% endblock %}

{% block content %}
<h1 class="site--heading">Add<br>Purchase</h1>
<div class="purchase-form-container">
  <div class="form--form--container">
    <form id="purchase-form" action="" method="POST">
      {% csrf_token %}
      <p>
        <label class="form--heading" for="id_item_amount">Amount</label>
        <input class="form--inputbox" type="number" name="item_amount" maxlength="100" id="id_item_amount" required/>
      </p>

      <p>
        <label class="form--heading" for="id_item_name">Menu</label>
        <select class="menus--dropdown" id="id_item_name" name="item_name">
          {% for item in form.item_name.field.queryset %}
          <option value="{{ item.pk }}">{{ item }}</option>
          {% endfor %}
        </select>
      </p>

      <p>
        <label class="form--heading" for="id_price">Price</label>
        <input class="form--inputbox" type="number" name="price" maxlength="50" id="id_price" required/>
      </p>
      <div class="form--button--container">
        <input class="form--submitbutton" type="submit" value="Add Purchase" disabled/>
        <a href="{% url 'purchases' %}" class="entry--deletebutton">Cancel</a>
      </div>
    </div>
    </form>
  </div>

{% for msg in messages %}
<div class="infobox--container">
  <div class="infobox--content">
    <div class="infobox--success">
      <h1>{{ msg }}</h1> 
      <span class="infobox--close--button" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}