{% extends 'base.html' %}

{% block head %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
  var form = document.getElementById('purchase-form');
  var submitButton = document.getElementsByClassName('form--submitbutton')[0];

  // Überprüfe Änderungen im Formular
  form.addEventListener('change', function(event) {
    // Aktiviere den Button, wenn sich das Formular ändert
    submitButton.disabled = false;
    submitButton.style.backgroundColor = "#007F4F"
    submitButton.style.border = "2px solid #007F4F"
  });

  document.querySelector('.form--submitbutton').addEventListener('click', function() {
    document.getElementById('purchase-form').submit();
  });
});
</script>
{% endblock %}

{% block content %}
<div class="purchase-form-container">
  <div class="form--form--container">
    <form id="purchase-form" action="" method="POST">
      {% csrf_token %}
      <p>
        <label class="form--heading" for="id_item_amount">Amount</label>
        <input class="form--inputbox" type="number" name="item_amount" maxlength="100" required="" id="id_item_amount" value="{{fields.item_amount}}">
      </p>

      <p>
        <label class="form--heading" for="id_item_name">Menu</label>
        {% if fields.item_name != None %}
        <input class="form--inputbox" type="text" name="item_name" step="any" required="" id="id_item_name" value="{{fields.item_name}}" readonly>
        {% else %}
        <input class="form--inputbox" type="text" name="item_name" step="any" required="" id="id_item_name" value="{{fields.pre_delete_item_name}}" readonly>
        {% endif %}
      </p>

      <p>
        <label class="form--heading" for="id_price">Price</label>
        <input class="form--inputbox" type="number" name="price" maxlength="50" required="" id="id_price" value="{{fields.price}}">
      </p>
    </form>
  </div>
  
  <div class="form--button--container">
    <input class="form--submitbutton" type="submit" value="Save Purchase" disabled/>
    <a href="{% url 'purchase_delete' pk %}" class="entry--deletebutton">Delete Purchase</a>
  </div>
</div>

{% endblock %}